# Firebase credentials
*service-account*.json

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Fastlane
ios/PT-Helper/vendor/
ios/PT-Helper/fastlane/report.xml
ios/PT-Helper/fastlane/Preview.html
ios/PT-Helper/fastlane/screenshots
ios/PT-Helper/fastlane/test_output
ios/PT-Helper/fastlane/AuthKey*.p8
ios/PT-Helper/build/
